.chart-container {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.button-space {
    margin: 0 10px; 
}

.stats-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chart-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.phone-br {
    display: none; 
}


@media screen and (max-width: 768px) {
    .chart-container {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 50px;
    }
    .stats-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 20px;
    }
    .button-space {
        margin: 10px ;
    }

    .phone-br {
        display: block; 
    }
}